/**
 * This file contains site-specifc style overrides for Notion elements from
 * react-notion-x.
 * 
 * react-notion-x's goal is to match styling as close as possible to Notion,
 * whereas our goal with this site is to adjust Notion's styling in a few key
 * places to add some flare.
 */

/* Variables */
.notion {
  --notion-max-width: 720px;
  --notion-header-height: 54px;
  --bm-color-0: #337ee566;
  --bm-color-1: #39b4df66;
}

.dark-mode {
  --bd-color: #4d5153 !important;
  --sd-color-0: #282b2e !important;
  --sd-color-1: #333638 !important;
}

.light-mode {
  --bg-color: #fff !important;
  --bd-color: #dfdfde !important;
  --sd-color-0: #ccc !important;
  --sd-color-1: #fff !important;
}

.notion {
  --notion-max-width: 720px;
  --notion-header-height: 54px;
}

/* Search */
.notion-search {
  background: var(--bg-color);
  border-radius: 1em;
}

.notion-search .searchBar {
  min-height: 52px;
}
.notion-search .noResults,
.notion-search .noResultsDetail {
  color: var(--fg-color);
}
.noResultsPane,
.resultsPane,
.resultsFooter {
  border-top: 1px solid var(--bd-color);
}
input.searchInput {
  background: var(--bg-color);
  color: var(--fg-color);
  caret-color: var(--fg-color);
  max-width: 90%;
}

.quickFindMenu {
  background: var(--bg-color);
}

.notion-search .inlineIcon {
  fill: var(--fg-color-3);
}

.notion-search .resultsFooter,
.notion-search .resultsCount {
  color: var(--fg-color-3);
}

/* Page */
.notion-page-no-cover {
  margin-top: 20vh !important;
}

/* only target safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media,
  _:future,
  :root,
  .notion-collection-card-cover {
    transition: none 0ms linear;
  }
}

@media only screen and (max-width: 920px) {
  .index-page.notion-page {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

@media only screen and (max-width: 720px) {
  .notion-page {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

.notion-page {
  padding-bottom: calc(max(5vh, 32px)) !important;
  line-height: 1.65;
}

.notion-row {
  overflow: visible;
}

.index-page {
  --notion-max-width: 900px;
}

.notion-text {
  padding: 0.5em 2px;
}

/* Header */
.notion-header .nav-header {
  max-width: 1100px;
  margin: 0 auto;
}

.notion-header {
  background: transparent;
  backdrop-filter: blur(4px);
}

/* Table of Contents */
.notion-aside {
  margin: 1rem;
}

.notion-table-of-contents-item {
  border-radius: 4px;
  padding-left: 0.4rem;
}

.notion-table-of-contents-item-body {
  border-bottom: none;
}

/* border color */
.notion-page-title-text {
  color: var(--fg-color);
  border-bottom: 1px solid var(--bd-color);
}

hr.notion-hr {
  border-color: var(--bd-color);
  border-top: 1px solid var(--bd-color);
  border-bottom: none;
  border-left: none;
  border-bottom: none;
}

/* Gallery */
@media only screen and (max-width: 600px) {
  .notion-gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2vmin;
    gap: 4vmin;
  }
}

.notion-gallery-grid {
  grid-gap: 1vmin;
  gap: 2vmin;
  border-top: 1px solid var(--bd-color);
}

.notion-gallery-grid .notion-page-icon {
  display: none;
}

.notion-gallery-grid .notion-page-title-text {
  white-space: unset;
  line-height: 1.5;
  margin-bottom: 5px;
}

.notion-gallery-grid-size-small .notion-collection-card {
  flex-direction: row;
}

.notion-gallery-grid .notion-collection-card-body {
  justify-content: center;
}

/* Collection */
.notion-collection-row {
  border-bottom: none;
}
.notion-property.notion-property-text {
  margin-top: 0.2rem;
}

.notion-collection-card {
  transition: background-color 0.3s;
  transition: box-shadow 0.3s;
  border-radius: 10px;
  background: var(--bg-color);
  box-shadow: 2px 2px 3px var(--sd-color-0), -2px -2px 5px var(--sd-color-1);
}

.notion-collection-card:active {
  box-shadow: -2px -2px 3px var(--sd-color-0), 2px 2px 5px var(--sd-color-1);
}

.notion-collection-card:hover {
  transition: background-color 1000ms linear;
  box-shadow: none;
  background: linear-gradient(90.68deg, var(--bm-color-0) 0.26%, var(--bm-color-1) 102.37%);
}

.notion-collection-card:hover .notion-collection-card-cover {
  filter: none;
}

.notion-gallery-grid .notion-collection-card-property {
  white-space: unset;
  text-overflow: unset;
}

.notion-collection-card {
  border-radius: 16px;
}

.notion-collection-card-cover img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.notion-gallery-grid-size-small .notion-collection-card-cover img {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.notion-collection-card {
  overflow: visible;
}

.notion-collection-card-cover {
  border-radius: 16px;
  overflow: visible;
  box-shadow: 2px 2px 8px 4px rgba(15, 15, 15, 0.1);
}

.notion-collection-card-cover {
  border-bottom: 0 none;
  transition: filter 150ms linear;
  filter: none;
}

/* bookmark */
.notion-bookmark:hover {
  border-radius: 10px;
  background: linear-gradient(90.68deg, var(--bm-color-0) 0.26%, var(--bm-color-1) 102.37%);
}

.notion-bookmark {
  border-radius: 10px;
}

/* Asset */
@media (max-width: 640px) {
  .notion-row .notion-column .notion-asset-wrapper-image {
    min-width: 50% !important;
    width: 50% !important;
  }
}

.notion-asset-caption {
  text-align: center;
}

.notion-asset-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Quote */
.notion-quote {
  margin: 0.2em 0.75em !important;
  padding: 0.2em 0.75em;
  font-size: 1.1em;
}

blockquote {
  border-left: none !important;
}

blockquote:before {
  content: '\201C';
  font-size: 3em;
  font-family: Georgia;
  color: var(--sd-color-0);
  border-left: none;
}

/* Header */
.notion-h1,
.notion-h2,
.notion-h3 {
  margin-bottom: 0.25em;
}

/* breadcrumbs */
.notion-header .nav-header .breadcrumbs .breadcrumb {
  display: none;
}

.notion-header .nav-header .breadcrumbs .breadcrumb:nth-child(-n + 4) {
  display: flex;
}

.notion-header .nav-header .breadcrumbs .breadcrumb:nth-last-child(-n + 4) {
  display: flex;
}

.notion-header .nav-header .breadcrumbs .spacer {
  display: none;
}

.notion-header .nav-header .breadcrumbs .spacer:nth-child(-n + 4) {
  display: flex;
}

.notion-header .nav-header .breadcrumbs .spacer:nth-last-child(-n + 4) {
  display: flex;
}

.notion-header .nav-header .breadcrumbs .spacer:nth-child(n + 4):nth-last-child(n + 5)::after {
  content: '\a0...';
}

.notion-header .nav-header .breadcrumbs .spacer:nth-child(n + 5):nth-last-child(n + 4)::before {
  content: '\a0';
}

/* Callout */
.notion-callout {
  margin: 0.75em 0;
}

.notion-title {
  display: block;
  text-align: center;
}

.notion-collection-column-title {
  display: none !important;
}

.notion-collection-row-property .notion-property {
  display: flex;
  justify-content: center;
}

.notion-collection-row-value {
  padding: 0;
}

.notion-page-cover {
  max-width: min(90%, 1200px);
  border-radius: 24px !important;
  box-shadow: 2px 2px 8px 4px rgba(15, 15, 15, 0.1);
}

@media only screen and (max-width: 1200px) {
  .notion-page-cover {
    border-radius: 0;
  }
}

.notion-page-link {
  border-radius: 5px;
}

.notion-code {
  background: rgba(249, 250, 251, 1);
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 0.375rem;
}

.timeline-comment .comment {
  background-color: #2f3437;
}

/* Link */
.notion-link {
  position: relative;
  transition: unset;
  border-bottom: 1px solid var(--bd-color);
  opacity: 1;
}

.notion-link:hover {
  border-radius: 5px;
  border-bottom: 1px solid var(--bd-color);
  background: linear-gradient(90.68deg, var(--bm-color-0) 0.26%, var(--bm-color-1) 102.37%);
}

.notion-link .notion-page-title {
  margin-right: 3px;
}

.notion-link .notion-page-title .notion-page-icon {
  height: 14px;
  width: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 2px;
  margin-left: 2px;
}

/* Colors */
.notion-blue .notion-inline-code {
  color: var(--blue-color);
  padding-right: 0.4rem !important;
  padding-left: 0.4rem !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  border-radius: 0.5rem;
  background: var(--bd-color) !important;
}

.notion-red_background,
.notion-pink_background,
.notion-blue_background,
.notion-purple_background,
.notion-teal_background,
.notion-yellow_background,
.notion-orange_background,
.notion-brown_background,
.notion-gray_background {
  padding: 0 0.5rem;
  margin: 0 -0.5rem 0 -0.25rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.125rem;
  box-decoration-break: clone;
  background-color: none;
}

.notion-purple_background,
.notion-pink_background {
  background: #ddbdf199;
}

.notion-blue_background,
.notion-gray_background {
  background: var(--bd-color);
}

.notion-red_background,
.notion-orange_background {
  background: #f0bfb199;
}

.notion-teal_background {
  background: #bee2e499;
}

.notion-brown_background {
  background: #68615899;
}

.dark-mode .notion-red_background,
.dark-mode .notion-pink_background,
.dark-mode .notion-blue_background,
.dark-mode .notion-purple_background,
.dark-mode .notion-teal_background,
.dark-mode .notion-yellow_background,
.dark-mode .notion-orange_background,
.dark-mode .notion-brown_background,
.dark-mode .notion-gray_background {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: none !important;
}

/* Page Icon */
.notion-page-icon-wrapper img.notion-page-icon {
  border-radius: 50%;
  box-shadow: 0 8px 40px 0 rgb(0 0 0 / 21%);
}

.notion .notion-page-icon-cover {
  margin-left: auto;
  margin-right: auto;
}
